

body{
    /* background-color: aqua; */
    background-image: url("../imgs/lizard-again.webp");
}

h1{
    color: yellow;
    background-color: red;
    width: 300px;
    font-family: "Kablammo", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "MORF" 40;
    font-size: 200px;
}

p{
    color: white;
    background-color: blue;
    font-family: "UnifrakturMaguntia", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.end-paragraph{
    color: yellow;
    background-color: red;
}